<!DOCTYPE html>
<html lang="en">
{#include header /}
<body hx-boost="true">

    <h1><i class="fas fa-link icon"></i> Link Shortener</h1>

    <form action="/" method="post">
        <label for="username"><i class="fas fa-user icon"></i> Username (Optional):
            <input type="text" name="username" id="username" placeholder="Enter your username" />
        </label>
        <label for="redirectUrl"><i class="fas fa-link icon"></i> URL:
            <input type="text" name="redirectUrl" id="redirectUrl" placeholder="Paste the destination URL" required />
        </label>
        <input type="submit" value="Shorten" />
        <p class="note">*Urls without username will only be kept for 30 days</p>
    </form>

    <h1><i class="fas fa-user-cog icon"></i> User Panel</h1>

    <form action="/users" method="get">
        <label for="panelUsername"><i class="fas fa-user icon"></i> Username:
            <input type="text" name="username" id="panelUsername" placeholder="Enter your username" required />
        </label>
        <input type="submit" value="Go to User Panel" />
    </form>

    {#include footer /}
</body>
</html>