<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="styles.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <title>Link Shortener</title>
    <meta charset="UTF-8">
    <title>User Panel</title>
</head>
<body>
    <h1>User Panel</h1>
    <br>
    <p>Welcome {username}!</p>
    <table>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Hits</th>
        </tr>
        {#for url in urls}
            <tr>
                <td><a href="{url.id}">{url.id}</a></td>
                <td>{url.redirectUrl}</td>
                <td>{url.hits ?: 0}</td>
            </tr>
        {/for}
    </table>
</body>
</html>