<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="styles.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <title>Something failed!</title>
    <style>
        body {
            text-align: center;
            background-color: #222;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>( 0 _ 0 )</h1>
    <h1>Something failed!</h1>
    <br>
    <p>Either the username is not correct or the link is not valid please go back and try again.</p>
</body>
</html>