<!DOCTYPE html>
<html lang="en">
{#include header /}
<body class="success-page" hx-boost="true">

    <div class="success-container">
        <h1 class="emoji success"> (ﾉ◕ヮ◕)ﾉ*:・ﾟ✧ </h1>
        <h2>Success!</h2>
        <p>Generated link code is <strong>{urlid}</strong></p>
        <p>
            The full URL is:
            <a id="fullurl" href="/{urlid}" hx-boost="false" class="link-url">loading...</a>
        </p>
        <a href="/" class="button">← Back to Home</a>
        <br>
        <div id="qrcode" class="qrcode-container"></div>
    </div>

    <script>
        const urlid = "{urlid}";
        document.getElementById("fullurl").innerHTML = window.location.origin + "/" + urlid;

        new QRCode(document.getElementById("qrcode"), window.location.origin + "/" + urlid);
    </script>

    {#include footer /}
</body>
</html>
